.header{
    
}
.center{
    width: 90%;
    margin: auto;
    padding: .4em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.frontforms{
    width: 100%;
}
.tabset_tabs{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--principal-color);
}
.validate{
    padding: 0.5em;
    font-size: 1.5em;
    font-family: var(--second-tipe);
    /* position: relative; */
}
.validate:hover{
    color:var(--principal-color);
    transition: all .4s ease;
    cursor: pointer;
}
.tabset_content {
    padding: 1em;
    margin: 1em auto;

}
.tabset_label{
    font-family: var(--principal-tipe);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .5px;
    width: 100%;
    border-bottom: .5px solid var(--color);
}
.p{
    font-family: var(--second-tipe);
    padding: 1em 0;  
}
.input{
    background-color: var(--white);
    display: inline;
    border-radius: .3em;
}
#validate-by-uri{
    display: none;
}

#validate-by-upload{
    display: none;
}
#validate-by-input{
    display: none;

}
.button{
    max-width: 14em;
    padding: 1em 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    border-radius:2em;
    background-color:var(--button-color);
    color: var(--white);
    cursor: pointer;
}

.fa-arrow-down{
    position: relative;
}
.fa-arrow-down:hover{
   color:var(--principal-color);
   transition: all .4s ease;
   cursor: pointer;
   pointer-events: auto;

}
.fa-arrow-down:hover .ul{
   transition: all 1s ease;
    opacity: 1;
    pointer-events: auto;
   
}
.ul{
    width: 100%;
    max-width: 14em;
    transform: translate(-9.5em, 1em);
    padding: .8em;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
.li{
    margin: .3em 0;
    color: var(--color);
    pointer-events: auto;
}
.li:hover{
    color:var(--principal-color);
    transition: all .4s ease;
    cursor: pointer;

}
.footer{

}